<md-dialog layout-padding aria-label="Login">
  <h4>Login</h4>
  <br>
  <md-content layout-padding layout="column" style="max-width:800px;max-height:810px;">
    <div id="mediumDiv">
      <form action="/login" method="post" class="board-form">
        <input type="user" name="user" placeholder="User" class="input" required autofocus><br>
        <br>
        <input type="password" name="password" placeholder="Password" class="input" required><br>
        <br>
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
  </md-content>
</md-dialog>
