<div ng-controller="navController" ng-app="myApp" ng-cloak>
  <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-href="#dashboard" name="dashboard">Inventory</md-nav-item>
    <md-nav-item md-nav-href="#hospitals" name="hospitals">Hospitals</md-nav-item>
    <md-nav-item md-nav-href="#beads" name="beads">Beads</md-nav-item>
    <md-nav-item md-nav-href="#transaction_histrory" name="transaction_histrory">Transaction History</md-nav-item>
    <md-nav-item md-nav-href="#order_histrory" name="order_histrory">Order History</md-nav-item>

      <form action="/logout" method="get" class="board-form">
        <button class="btn btn-danger" type="submit">Logout</button>
      </form>

  </md-nav-bar>
</div>
