<nav class="container-fluid navbar-default navbar-fixed-top">
  <ul class="nav nav-tabs">
    <li><a href="#dashboard">Inventory</a></li>
    <li><a href="#hospitals">Hospitals</a></li>
    <li><a href="#beads">Beads</a></li>
    <li><a href="#transaction_histrory">Transaction History</a></li>
    <li><a href="#order_histrory">Order History</a></li>
    <li>
      <form action="/logout" method="get" class="board-form">
        <button class="btn btn-danger" type="submit">Logout</button>
      </form>
    </li>
  </ul>
</nav>
