<md-dialog aria-label="New Bead">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2>New Bead</h2>
    </div>
  </md-toolbar>

  <md-content layout-padding layout="column" style="max-width:100%; max-height:100%;">

    <div id="mediumDiv">

      <div layout="row" layout-align="start center">
        <div>
          <label>Bead Type:&nbsp;&nbsp;</label>
        </div>
        <div flex="25">
          <md-select ng-model="type" aria-label="Bead Type:">
            <md-option ng-value="type" ng-repeat="type in types">{{type}}</md-option>
          </md-select>
        </div>
      </div>

      <div layout="row">
        <div class="form-group">
          <label for="refno">Reference:</label>
          <input class="form-control" type="number" ng-model="refno">
        </div>
      </div>

      <div layout="row">
        <div flex class="form-group">
          <label for="name_jp">Bead Name (JP):</label>
          <input class="form-control" type="text" ng-model="name_jp">
        </div>

        <div flex class="form-group">
          <label for="name">Bead Name (EN):</label>
          <input class="form-control" type="text" ng-model="name">
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description (JP):</label>
        <input class="form-control" type="text" ng-model="description">
      </div>

      <div class="form-group">
        <label for="description_en">Description (EN):</label>
        <input class="form-control" type="text" ng-model="description_en">
      </div>

      <div layout="row">
        <div class="form-group">
          <label for="lotsize">Lot size:</label>
          <input class="form-control" type="number" ng-model="lotsize">
        </div>
        <div class="form-group">
          <label for="lotsize_hospital">Lot Size (Hospital):</label>
          <input class="form-control" type="number" ng-model="lotsize_hospital">
        </div>
        <div class="form-group">
          <label for="price">Price ($):</label>
          <input class="form-control" type="number" ng-model="price">
        </div>
      </div>
    </div>

    <md-dialog-actions>
      <md-button class="md-warn md-raised" ng-click="cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="ok(name, type, lotsize, price, name_jp, description, refno, lotsize_hospital, description_en)">Insert</md-button>
    </md-dialog-actions>
  </md-content>
</md-dialog>
