<div class="container-fluid">
  <div class="alt-table-responsive">
    <h3>Order History</h3>

    <md-input-container>
      <label>Hospital</label>
      <md-select ng-model="selectedHospital">
        <md-option ng-value="hospital" ng-repeat="hospital in hospitalsForFilter">{{hospital}}</md-option>
      </md-select>
    </md-input-container>

    <table class="table table-hover table-condensed" style="table-layout:fixed;">
      <thead>
        <tr>
          <th style="width:90px;"></th>
          <th style="width:100px;">Date</th>
          <th style="width:140px;">Hospital</th>
          <th style="width:120px;">Comment</th>
          <th ng-repeat="bead in beads" style="width:70px;">{{bead.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total<br>(Unreceived)<br>[Backorder]</td>
          <td ng-repeat="bead in beads">
            {{bead.total}}
            <br><span ng-show="bead.unreceived_total">({{bead.unreceived_total}})</span>
            <br><span ng-show="bead.backorder_total">[{{bead.backorder_total}}]</span>
          </td>
        </tr>
        <tr ng-repeat="order in orders | filter : hospitalFilter">
          <td class="hidden-xs"><button class="btn btn-primary" ng-click="genReport($event, order, beads)">Report</button></td>
          <td>{{order.date}}</td>
          <td>{{order.party}}</td>
          <td>{{order.comment}}</td>
          <td ng-repeat="bead in beads" ng-switch="order.showBracket">
            <span ng-switch-when="square" ng-show="order[bead.name]">[{{order[bead.name]}}]</span>
            <span ng-switch-when="round" ng-show="order[bead.name]">({{order[bead.name]}})</span>
            <span ng-switch-default>{{order[bead.name]}}</span>
            <br>
            <span ng-show="order[bead.name + '.bo']">[{{order[bead.name + '.bo']}}]</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
