<md-dialog aria-label="Order to Supplier">

  <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <img ng-src="images/{{selectedBead}}.jpg" on-error-src="images/error.png" width="50px" height="50px" border="1" style="margin-right:10px; border:solid 2px white">
        <h2>Order to Supplier: {{selectedBead}}</h2>
      </div>
  </md-toolbar>

  <md-content layout-padding layout="column" style="max-width:800px;max-height:810px;">
    <div id="mediumDiv">
      <div class="form-group">
        <label for="asof">Date (yyyy/mm/dd):</label><br>
        <md-datepicker ng-model="asof"></md-datepicker>
      </div>

      <label>Quantity (by bag - lotsize: {{lotsize}}):</label>
      <div class="form-group">
        <input class="form-control" type="number" ng-model="qty" placeholder="by bag (integer and/or fraction)">
      </div>
    </div>

    <md-dialog-actions>
      <md-button class="md-warn md-raised" ng-click="cancel()">Cancel</md-button>
      <md-button class="md-primary md-raised" ng-click="ok(asof, qty * lotsize);">OK</md-button>
    </md-dialog-actions>
  </md-content>
</md-dialog>
